@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}


body {
  background-color: #1a1a1a; 
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}


.text-accent {
  color: #d1a3a3;
}

a {
  transition: all 0.3s ease;
}


.card-style {
  background-color: #222222;
  border: 0.5px solid rgba(209, 163, 163, 0.2);
}

.card-style:hover {
  border: 0.5px solid #d1a3a3;
}